/*
font-family: 'Roboto', sans-serif;
font-family: 'Ma Shan Zheng', cursive;
*/
:root{
  /* colours generator on https://coolors.co/browser/latest/1*/
  --text-gray: #393D3F;
  --text-light: #686666da;
  --bg-color: #0f0f0f;
  --white: #ffffff;
  --midnight: #104f55;
  
  /* gradient colours using webgradients.com to generate it*/
  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

}
html,body{
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

 a{
   text-decoration: none;
 }
ul{
  list-style-type: none;
}
 .flex-row{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
 }

 .text-gray{
   color: var(--text-gray);
 }
 /* ============ nav ====== */
.nav{
  width: 95%;
  position: fixed;
  background: white;
  padding: 0 2rem;
  height: 0rem;
  min-height: 10vh;
  overflow: hidden;
  z-index: 20;
}
.nav .nav-menu{
  justify-content: space-between;
}

.nav .toggle-collapse{
  position: absolute;
  top: 0%;
  width: 90%;
  cursor: pointer;
  display: none;
}
.nav .toggle-collapse .toggle-icons{
  display: flex;
  justify-content: flex-end;
  padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
  font-size: 1.4rem;
  color: var(--text-gray);
}

.collapse{
  height: 30rem;

}
.nav .nav-items{
  display: flex;
  margin: 0;
}

.nav .nav-items .nav-link{
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  position: relative;
}

.nav .nav-items .nav-link:hover{
  background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a{
  color:var(--white);
}
.nav .nav-brand a{
  font-size: 1.6rem;
  padding: 1rem 0;
  text-decoration: none;
  display: block;
  font-family: 'Ma Shan Zheng', cursive;
  /*text-transform: uppercase;*/
  color: var(--text-gray);
}
.nav-link a{
  color: var(--text-gray);
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
}
nav .social{
  padding: 1.4rem 0;
}

.nav .social i{
  padding: 0 .2rem;
  color: var(--text-gray);
  font-size: 1.2rem;
}

.nav .social i:hover{
  color: #a1c4cf;
}

/* ===== main ===== */

main .site-title{
  height: 110vh;
  background-image: url('http://placeimg.com/640/480/arch');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
main .site-title .site-background{
  padding-top: 10rem;
  text-align: center;
  color: var(--white);
}

main .site-title h1,h3{
  margin: .3rem;
  text-shadow: 6px 2px 2px lightslategray;
}
h1{
  font-size: 2.5rem;
  
}

h2{
  font-size: 1rem;
}
h3{
  font-size: 1.3rem;
}
main .site-title .btn{
  margin: 1.8rem;
  background: var(--sky);

}
button.btn{
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  cursor: pointer;
}

button.btn:hover{
  background: transparent;
  border: 1px solid white;
  color: #ffffff;
}

/*======= owl carousel =======*/

main .blog{
  background: url('../img/bg-3.png');
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
  width: 100%;
}
main .blog .blog-post{
  padding-top: 6rem;
}

main .blog-post .blog-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 3rem 2rem;
  box-shadow: 0 15px 20px rgba(0,0,0,0.2);
}

main .blog-content .blog-title{
  padding: 2rem 0;
}

main .blog-content .btn-blog{
  padding: .7rem 2rem;
  background: var(--sky);
  margin: .5rem;
}
main span{
  display: block;
}


section .container .owl-nav{
  position: absolute;
  top: 0;
  margin: 0 auto;
  width: 100%;
}

/*===== Blo part =====*/
main .site-content{
  display: grid;
  grid-template-columns: 70% 30%;
}

main .post-content{
  width: 100%;
  margin-bottom: 5rem;
}

main .site-content .post-content> .post-image, 
.post-title{
  padding: 1rem 2rem;
  position: relative;
}

main .site-content .post-content> .post-image .post-info{
  background: var(--sky);
  padding: 1rem;
  position: absolute;
  bottom: 31%;
  left: 20vw;
  border-radius: 3rem;
}


/*==== medi =====*/
@media only screen and (max-width: 768px){
.nav .nav-menu,.nav .nav-items{
  flex-direction: column;
}

.nav .toggle-collapse{
  display: initial;
}
}